<div class="container mt-5 col-6">
    <button class="btn btn-primary mb-2" ng-click="showImage=!showImage">Show / Hide Image</button>
    <div ng-if="showImage">
        <img ng-src="img/logo-marmilita-fit.jpg" class="rounded-circle my-3">
    </div>
    <div class="mx-auto">
        <div class="jumbotron p-lg-5 shadow">
            <h3 class="text-center mb-5 bg-white p-3 w-50 mx-auto">{{app}}</h3>

            <!-- input-group mb-5 col-sm-12 col-md-8 col-lg-6 mx-auto -->
            <div class="input-group mb-5 col-md-8 col-lg-8 mx-auto">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Pesquisar</span>
                </div>
                <input class="form-control" type="text" ng-model="criterioDeBusca"
                    ng-model-options="{updateOn: 'default blur', debounce:{default: 500, blur: 0}}"
                    placeholder="O que você está buscando?" />
            </div>

            <table ng-show="contatos.length > 0" class="table table-responsive">
                <tr>
                    <th></th>
                    <th>Serial</th>
                    <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                    <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                    <th>Operadora</th>
                    <th>Preço</th>
                    <th>Data</th>
                </tr>
                <tr ng-class="{'selecionado negrito': contato.selecionado}"
                    ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao track by contato.id">
                    <td><input type="checkbox" ng-model="contato.selecionado"
                            ng-click="verificarContatoSelecionado(contatos)" /></td>
                    <td>{{::contato.serial }}</td>
                    <td><a href="#/detalhesContato/{{ contato.id }}">{{contato.nome | name }}</a></td>
                    <td>{{contato.telefone}}</td>
                    <td>{{::contato.operadora.nome}}</td>
                    <td>{{::contato.operadora.preco | currency}}</td>
                    <td>{{::contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
                </tr>
            </table>
            <button class="btn btn-primary" ng-click="reset()">Reset</button>
            <hr />
            <a href="#/novoContato" class="btn  btn-outline-primary btn-block p-2">Novo Contato</a>
            <button class="btn btn-outline-danger btn-block p-2" ng-click="apagarContatos(contatos)"
                ng-if="hasContatoSelecionado">Apagar Contatos</button>
        </div>

    </div>
</div>